<div class="container">
  <div class="row home-top">
    <div class="col-md-3 hidden-small">
      <img class="splash-logo" src="/assets/logo-splash.png" />
    </div>
    <div class="col-md-2 footer-links">
      <h3>Shop</h3>
      <span>Popular</span>
      <span>New</span>
      <span>Featured</span>
    </div>
    <div class="col-md-2 footer-links">
      <h3>Discover</h3>
      <span>Recipes</span>
      <span>Blog</span>
      <span>Videos</span>
      <span>FAQ</span>
    </div>
    <div class="col-md-2 footer-links">
      <h3>Company</h3>
      <span>Affiliates</span>
      <span>Wholesale</span>
      <span>Press</span>
      <span>Jobs</span>
    </div>
    <div class="col-md-3">
      <div class="social-logo-ct">
        <img class="social-logo" src="/assets/twitter-logo.png" />
        <img class="social-logo" src="/assets/facebook-logo.png" />
        <img class="social-logo" src="/assets/instagram-logo.png" />
        <img class="social-logo" src="/assets/youtube-logo.png" />
        <img class="social-logo" src="/assets/pinterest-logo.png" />
      </div>
    </div>
  </div>

  <div class="row copyright">
    © 2019 ReelFish. All rights reserved.
  </div>
</div>
