:host {
  display: flex;
  width: 264px;
  flex-direction: column;
  align-items: start;
  margin-bottom: 48px;
  margin: 0 10px 48px 10px;
}

img {
  display: block;
  width: 100%;
}

.info {
  display: flex;
  width: 100%;
  flex-direction: row;
  color: var(--secondary-color);
}

.title {
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-size: 16px;
  font-weight: normal;
  margin-top: 12px;
  margin-bottom: 4px;
}

.left {
  flex: 1;
}

.left span {
  display: block;
}

.company {
  font-size: 14px;
  margin-bottom: 4px;
}

.location {
  font-size: 10px;
  margin-bottom: 16px;
}

.price {
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  margin-top: 12px;
  font-weight: bold;

  sup {
    font-weight: normal;
    font-size: 12px;
    margin-top: -6px;
  }
}

.info .left button {
  color: var(--secondary-color);
}
