<div class="container">
  <div class="row home-top present-yourself-slow">
    <div class="col-md-5">
      <h1>Fresh, sustainably caught by local fisherman.</h1>
      <p>
        Our mission is to connect consumers with seafood harvested by local and independent
        fishermen to build the marketplace for seafood that is sustainable by rewarding fishermen
        with higher margins for thinking about future generations.
      </p>

      <button
        mat-stroked-button
        class="rf-stroked-button"
        color="primary"
        [routerLink]="['/shop']"
        [queryParams]="{ localFisherman: true }"
      >
        Connect with local fishermen
      </button>
    </div>
    <div class="col-md-7 hidden-small">
      <img class="boat-graphic" src="/assets/boat-graphic.png" />
    </div>
  </div>
</div>

<div class="home-splash">
  <div class="container">
    <div class="row">
      <span
        >At ReelFish we make the seafood industry transparent, so the customer is as informed as
        possible about their purchase.</span
      >
      <h1>For each fish, we help the customer to understand:</h1>
      <div class="col-md-3">
        <div class="home-outline-graphic">
          <div class="circle">
            <img src="/assets/boat-icon.png" />
          </div>
          <span>Which boat they bought it from</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="home-outline-graphic">
          <div class="circle">
            <img src="/assets/compass-icon.png" />
          </div>
          <span>Where their fish was caught</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="home-outline-graphic">
          <div class="circle">
            <img src="/assets/health-icon.png" />
          </div>
          <span>Health of the fish stock</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="home-outline-graphic">
          <div class="circle">
            <img src="/assets/globe-icon.png" />
          </div>
          <span>Environmental impact of this purchase</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fishing-img">
  <img src="/assets/fishing-stock.png" />
  <img class="play-button center" src="/assets/play-icon.png" />
  <div class="center text-below hidden-small"></div>
</div>

<div class="connect-big">
  <button
    mat-stroked-button
    class="rf-stroked-button"
    color="primary"
    [routerLink]="['/shop']"
    [queryParams]="{ localFisherman: true }"
  >
    Connect with local fishermen
  </button>
</div>

<div class="news">
  <div class="container">
    <div class="row">
      <div class="news-list">
        <img src="/assets/forbes-logo.png" />
        <img src="/assets/nyt-logo.png" />
        <img src="/assets/npr-logo.png" />
        <img src="/assets/fortune-logo.png" />
        <img src="/assets/food-wine-logo.png" />
      </div>
    </div>
  </div>
</div>
