.boat-graphic {
  display: block;
  width: 100%;
}

h1 {
  margin-top: 80px;
  font-size: 36px;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.home-top {
  margin-top: 60px;
}

.home-top p {
  color: var(--secondary-color);
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 24px;
}

.home-splash {
  width: 100%;
  background-image: url('/assets/home-background-shape.svg');
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  display: block;
  padding: 160px 0 120px 0;
  margin-top: 50px;

  span {
    display: block;
    width: 100%;
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  h1 {
    display: block;
    width: 100%;
    color: var(--secondary-color);
    text-align: center;
    margin-top: 8px;
    margin-bottom: 48px;
  }

  .home-outline-graphic {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .circle {
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #d3f6f2;
      border-radius: 100px;
      margin-bottom: 12px;

      img {
        height: 50px;
      }
    }

    span {
      width: 120px;
    }
  }
}

.fishing-img {
  width: 100%;
  position: relative;

  img {
    display: block;
    width: 100%;
  }

  .center {
    position: absolute;
    display: block;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .center.text-below {
    width: 80px;
    height: 80px;

    &::after {
      content: 'Responsibly sourced, high-quality fish';
      position: absolute;
      top: 120px;
      left: 40px;
      transform: translate(-50%);
      margin: auto;
      color: white;
      text-align: center;
      width: 360px;
      z-index: 2;
      font-size: 36px;
      font-weight: bold;
    }
  }

  .play-button {
    width: 80px;
  }
}

.connect-big {
  width: 100%;
  padding: 120px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .rf-stroked-button {
    font-size: 32px;
    line-height: 32px;
    border-width: 4px;
    padding: 12px 48px;
    border-radius: 48px;
  }
}

@media (max-width: 767px) {
  .connect-big .rf-stroked-button {
    font-size: 24px;
    line-height: 24px;
    border-width: 3px;
    padding: 8px 32px;
    border-radius: 32px;
  }
}

.news {
  width: 100%;
  background-image: url('/assets/news-background-shape.svg');
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  display: block;
  padding-top: 80px;
  margin-bottom: -480px;
  padding-bottom: 500px;

  .news-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;

    img {
      display: block;
      height: 24px;
      cursor: pointer;
    }
  }

  @media (max-width: 767px) {
    .news-list {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        margin-top: 32px;
      }
    }
  }
}
